<!doctype html>
<html lang="en">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}
  <head>
    <style>
      h1 {color:black;
          text-align: center;    
      }
      h2 {color:black;
          text-align: center;    
      }
      body {background-color: lightblue;}
      button{
        background-color: lightgray;
        border: none;
        display: block;
        padding: 15px 32px;
        margin: auto;
        margin-top: 20px;
        box-shadow: 2px 2px 1px black;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
      }
    </style>
    {% block head %}
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
  </head>
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
    <footer>{% block footer %}{% endblock %}</footer>
  </body>
</html>
