{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    <h1>Log In</h1> 
{% endblock %}
{% block content %}
    <form method="POST"> <!--email text box-->
        <label for="email">email:</label> 
        <input type="text"  id="email" name="email"/><br><br> <!--password text box-->
        <label for="pass">password:</label>
        <input type="password"  id="pass" name="pass"/><br><br>
        <button type="submit">Log in</button><!--button that posts information entered by user-->
    </form>
{% endblock %}
