<!doctype html>
<html>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
  </head>
  <style>
    input[type="radio"] {
      display:inline-block;
    }
  </style>
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
    </div>
  </body>
  <footer>
    <form method="POST">
      <input type="radio" id="strongly disagree" name="agreement"/>
      <label for="strongly disagree">strongly disagree</label>
      <input type="radio" id="disagree" name="agreement"/>
      <label for="disagree">disagree</label>
      <input type="radio" id="agree" name="agreement"/>
      <label for="agree">agree</label> 
      <input type="radio" id="strongly agree" name="agreement"/>
      <label for="strongly agree">strongly agree</label>
      <button type="submit">submit</button>
    </form>
  </footer>
</html>