<!doctype html>
<html lang="en">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
  </head>
  <style>
    input[type="radio"] {
      display: inline-block;
    }
  </style>
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
  </body>
  <footer>
    <form method="POST" id="myForm">
      <input type="radio" value="4" id="strongly-disagree" name="agreement" checked/>
      <label for="strongly-disagree">Strongly Disagree</label>

      <input type="radio" id="disagree" value="2" name="agreement"/>
      <label for="disagree">Disagree</label>

      <input type="radio" id="agree" value="-2" name="agreement"/>
      <label for="agree">Agree</label>

      <input type="radio" id="strongly-agree" value="-4" name="agreement"/>
      <label for="strongly-agree">Strongly Agree</label>

      <button type="submit">Submit</button>
    </form>
  </footer>
</html>
