{% extends "base.html" %}

{% block title %}Search Form{% endblock %}

{% block content %}
<h1>Search for Users by Career Tag</h1>
<form action="{{url_for('views.search_results')}}" method="post">
    <label for="career_role">Choose a career tag:</label>
    <select name="career_role" id="career_role">
        <option value="Product Manager">Product Manager</option>
        <option value="Technical Writer/Product Manager">Technical Writer/Product Manager</option>
        <option value="QA Tester">QA Tester</option>
        <option value="Full-Stack Developer">Full-Stack Developer</option>
    </select>
    <button type="submit">Search</button>
</form>

    {% block back_button %}
<form action="{{ url_for('views.results') }}" method="get">
    <button type="submit">Back to Results</button>
</form>
    {% endblock %}
{% endblock %}