{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  <h1>Sign Up</h1> 
{% endblock %}
{% block content %}
<form method="POST"> 
  <label for="name">first and last name:</label> <!--name text box-->
  <input type="text" id="name" name="name"/><br><br>
  <label for="email">email:</label> <!--email text box-->
  <input type="text" id="email" name="email"/><br><br>
  <label for="pass">password:</label> <!--password text box-->
  <input type="password" id="pass" name="pass"/><br><br>
  <label for="confirmpass">confirm password:</label><!--confirm password text box-->
  <input type="password" id="confirmpass" name="confirmpass"/><br><br>
  <button type="submit">Sign up</button><!--button that posts information entered by user-->
</form>
{% endblock %}
