<!DOCTYPE html>
<html lang="eng">
<head>
</head>
<body>
    <form action="" method="post"> <!--email text box-->
        <label for="email">email:</label> 
        <input type="text" id="email" name="email"><br><br>
    <form action="" method="post"> <!--password text box-->
        <label for="pass">password:</label>
        <input type="text" id="pass" name="pass"><br><br>
    <form action="" method="post"> <!--confirm password text box-->
        <label for="confirmpass">confirm password:</label>
        <input type="text" id="confirmpass" name="confirmpass"><br><br>
    </form>
    <button> <a href="/quiz">Sign up</a></button> <!--Sign up button that directs user to quiz-->
</body>
</html>